---
layout: default
title: People
---
{% include title.html %}

<div class="container">
  <div class="row" style="word-break:normal;">

    <div class="col-lg-12" style="word-break:normal; margin-bottom: 10px;">
      <h2>Faculty</h2>
    </div> 
    {% for i in (1..50) %}

      {% for author in site.authors %}

        {% if author.type == "Faculty" %}

          {% if author.sortWeight == i %}

          <div class="col-lg-2 col-xs-3" style="word-break:break-all; margin-bottom: 20px;">
            <div class="row" style="word-break:normal; text-align: center;">
              <p style="text-align: center;">
                <img src="{{author.avatarUrl}}" class="img-rounded img-cur">
              </p>
              <div style="text-align: center;">
                <h4>{{author.name}}</h4>
                {% if author.homePage %}
                <a type="button" class="btn btn-default btn-xs" href="{{author.homePage}}">Home Page</a>
                {% else %}
                <a type="button" class="btn btn-default btn-xs" href="{{author.url}}">Home Page</a>
                {% endif %}
              </div>
            </div>
          </div> 

          {% endif %}

        {%endif%}

      {%endfor%}

    {% endfor %}
  </div>
</div>


<div class="container">
  <div class="row" style="word-break:normal;">

    <div class="col-lg-12" style="word-break:normal; margin-bottom: 10px;">
      <h2>Ph.D. Students</h2>
    </div> 
    {% for i in (1..50) %}

      {% for author in site.authors %}

        {% if author.type == "PhD" %}

          {% if author.sortWeight == i %}

          <div class="col-lg-2 col-xs-4" style="word-break:break-all; margin-bottom: 20px;">
            <div class="row" style="word-break:normal; text-align: center;">
              <p style="text-align: center;">
                <img src="{{author.avatarUrl}}" class="img-rounded img-cur">
              </p>
              <div style="text-align: center;">
                <h4>{{author.name}}</h4>
                <h4>{{author.startYear}}</h4>
                {% if author.homePage %}
                <a type="button" class="btn btn-default btn-xs" href="{{author.homePage}}">Home Page</a>
                {% else %}
                <a type="button" class="btn btn-default btn-xs" href="{{author.url}}">Home Page</a>
                {% endif %}
              </div>
            </div>
          </div> 

          {% endif %}

        {%endif%}

      {%endfor%}

    {% endfor %}
  </div>
</div>


<div class="container">
  <div class="row" style="word-break:normal;">

    <div class="col-lg-12" style="word-break:normal; margin-bottom: 10px;">
      <h2>Master Students</h2>
    </div> 
    {% for i in (1..50) %}

      {% for author in site.authors %}

        {% if author.type == "Master" %}

          {% if author.sortWeight == i %}

            <div class="col-lg-2 col-xs-4" style="word-break:break-all; margin-bottom: 20px;">
              <div class="row" style="word-break:normal; text-align: center;">
                <p style="text-align: center;">
                  {% if author.avatarUrl %}
                  <img src="{{author.avatarUrl}}" class="img-rounded img-cur">
                  {% else %}
                  <img src="/assets/images/peopleImg/default.jpeg" class="img-rounded img-cur">
                  {% endif %}
                </p>
                <div style="text-align: center;">
                  <h4>{{author.name}}</h4>
                  <h4>{{author.startYear}}</h4>
                  {% if author.homePage %}
                  <a type="button" class="btn btn-default btn-xs" href="{{author.homePage}}">Home Page</a>
                  {% else %}
                  <a type="button" class="btn btn-default btn-xs" href="{{author.url}}">Home Page</a>
                  {% endif %}
                </div>
              </div>
            </div> 

          {% endif %}

        {%endif%}

      {%endfor%}

    {% endfor %}
  </div>
</div>