---
layout: default
title: Research
---
{% include title.html %}





<div class="container">

    {% for item in site.data.direction %}

        <div class="row" style="word-break:break-all; margin-bottom: 40px; margin-top: 30px;">
            <div class="col-lg-3 col-md-3">
                <img src="{{item.imgUrl}}" class="img-rounded img-responsive" >
            </div>
            <div class="col-lg-9 col-md-9" style="word-break:normal;">
                <h1>{{item.title}}</h1>
                {% if item.subtitle %}
                <h3>{{item.subtitle}}</h3>
                {% endif %}
                <h4>{{item.description}}</h4>
            </div>      
        </div>

    {% endfor %}

    <!-- <div class="row" style="word-break:break-all; margin-bottom: 40px; margin-top: 30px;">
       <div class="col-lg-3 col-md-3">
            <img src="/assets/images/direction01.jpeg" class="img-rounded img-responsive" >
       </div>
       <div class="col-lg-9 col-md-9" style="word-break:normal;">
            <h1>Direction 1</h1>
            <h3>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</h3>
            <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
            <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
            <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>

        </div>      
    </div>
    
    <div class="row" style="word-break:break-all; margin-bottom: 40px;">
        <div class="col-lg-3 col-md-3">
             <img src="/assets/images/direction02.png" class="img-rounded img-responsive" >
        </div>
        <div class="col-lg-9 col-md-9" style="word-break:break-all;">
             <h1>Direction 2</h1>
             <h3>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</h3>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
 
         </div>      
     </div>

     <div class="row" style="word-break:break-all; margin-bottom: 40px;">
        <div class="col-lg-3 col-md-3">
             <img src="/assets/images/direction03.png" class="img-rounded img-responsive" >
        </div>
        <div class="col-lg-9 col-md-9" style="word-break:break-all;">
             <h1>Direction 3</h1>
             <h3>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</h3>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
             <p>irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1irection 1</p>
 
         </div>      
     </div> -->

 </div>
