---
layout: default
title: Research
---
{% include title.html %}





<div class="container">

    {% for item in site.data.direction %}

        <div class="row" style="word-break:break-all; margin-bottom: 40px; margin-top: 30px;">
            <div class="col-lg-3 col-md-3">
                <img src="{{item.imgUrl}}" class="img-rounded img-responsive" >
            </div>
            <div class="col-lg-9 col-md-9" style="word-break:normal;">
                <h1>{{item.title}}</h1>
                {% if item.subtitle %}
                <h3>{{item.subtitle}}</h3>
                {% endif %}
                <h4>{{item.description}}</h4>
            </div>      
        </div>

    {% endfor %}

 </div>
