<div class="container" style="margin-top: 20px ;">
    <div class="jumbotron" style="word-break:normal;">

      <div class="row" style="word-break:break-all; margin-bottom: 40px;">
        <div class="col-lg-3">
             <img src="/assets/images/default/ava.png" class="img-rounded img-responsive" >
        </div>
        <div class="col-lg-9" style="word-break:normal;">
          <h1>Welcome to SNG</h1>

          <h4><b>SNG </b>(System and Networking Group) is from School of Informatics at XMU (Xiamen University), led by <a href="http://qiaoxiang.me">Prof. Qiao Xiang</a>.</h4>
          <h4>The team at SNG focus on the following research areas: </h4>
          <h4>
            <ul>
              <li>Network Verification</li>
              <li>Network Programming</li>
              <li>Interpretable Machine Learning</li>
              <li>Congestion Control</li>
            </ul> 
          </h4>

          <h4>We have openings for Master students and PhD students with research interests in the areas above. You are welcome to contact <a href="http://qiaoxiang.me">Prof. Qiao Xiang</a>.</h4>
         </div>      
      </div>
    </div>
</div>