<div class="container" style="margin-top: 20px ;">
    <div class="jumbotron" style="word-break:normal;">

      <div class="row" style="word-break:break-all; margin-bottom: 40px;">
        <div class="col-lg-3">
             <img src="/assets/images/default/ava.png" class="img-rounded img-responsive" >
        </div>
        <div class="col-lg-9" style="word-break:normal;">
          <h1>About us</h1>
          <p>I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write. I really don't know what to write.</p>     
         </div>      
      </div>
    </div>
</div>